

body{
      margin:0;
      text-align: center;
      font-family: 'Merryweather', serif;

}
h1{
  color: #66BFBF;
  font-size: 5.225rem;
  margin-top: 50px;\
  line-height: 2;
  font-family: 'Sacramento',cursive;
}

h2{   color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Monsterrat',sans-serif;

}

h3{
    color:#66BFBF;
    font-family: 'Monsterrat',sans-serif;

}

  div{

}

.top-container{
                padding-top: 100px;
                  background-color: #E4F9F5;
}
.top-cloud{
           height: 150px;
           width: 200px;
           background-color: #E4F9F5;
           position: absolute;
           left: 300px;
           bottom: 300px;
}
.bottom-cloud{
              height: 150px;
              width: 200px;
               background-color: #E4F9F5;
              position: absolute;
              right: 300px;
              top: 50px;

}
.mountain{
           padding-top: 100px;
            height: 500px;
            width: 600px;
             background-color: #E4F9F5;


}
.circular-1{
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-top: 30px;
}
.circular-2{

  width: 20%;
  float: right;
  margin-left:30px;


}

.skill-row{
            width: 50%;
            margin:100px auto 100px auto;
            text-align: left;
            line-height: 2;

}
.skill1{
    width: 25%;
    float: left;
    margin-right:30px;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 30px;
  padding: 20px 0 50px;

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
a{
  margin:10px 20px;
}
a:hover{
       color: #EAF6F6;

}
